.left-sidebar {
  margin: 2em 1em;

  .rec-menu {
    width: 250px;
    background-color: white;
    padding-bottom: 0.4em;

    header {
      display: block;
      text-align: center;
      color: black;
      background-color: #ececec;
      height: 2.5em;
      line-height: 2.5em;
    }

    .rec-menu__list {
      list-style: none;
      margin: 1em auto 1em 0.4em;
      &>li {
        margin-bottom: 0.35em;
      }
    }
  }

  .filters {
    margin: 2em 0 2em 1em;
    .filers__block {
      header {
        font-weight: bold;
      }
      ul {
        list-style: none;
        margin: 0.5em 0 1em 0;
        padding: 0 0 0 1em;
        li {
          margin-bottom: 0.2em;
          label {
            cursor: pointer;
            span {
              color: $links-color;
              border: none;
              transition: border 0.2s ease-in-out;
            }

            &:hover {
              span {
                border-bottom: dashed 1px $links-color;
              }
            }
          }
        }
      }
    }
  }

}