nav {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height: $nav-height;
  line-height: $nav-height;
  background-color: $nav-menu-color;

  .nav-menu, .location-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &>li {
      display: block;
      &>a {
        display: block;
        padding: 0 1em;
        line-height: $nav-height;
        height: $nav-height;
        text-decoration: none;
        color: $nav-link-color;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: lighten($nav-menu-color, 10%);
        }
      }
    }
  }

  .location-menu {
    margin-left: auto;
  }
}